.desk-pages {
    height: 100%;
}

.desk-pages-home {
    .app-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .desk-tickets-wrapper {
        padding: 16px 32px;
        margin-top: 16px;
        background-color: $accent-color-light;
        border-radius: 6px;
    }

    .desk-tickets-header {
        .title {
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 600;
            color: #102a43;
        }
    }

    .ticket-section-header {
        position: relative;
        height: 1px;
        width: 100%;
        margin: 16px 0 24px 0;
        background-color: #b1b1b1;

        & > div {
            position: absolute;
            left: 50%;
            top: -16px;
            width: 128px;
            padding: 4px 8px;
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            border-radius: 16px;
            border: 1px solid #b1b1b1;
            background-color: #ffffff;
            color: #b1b1b1;
            transform: translateX(-50%);
        }
    }

    .pending-tickets {
        display: flex;
        flex-direction: column;

        .ticket {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            padding: 8px 16px;
            text-decoration: none;
            color: #102a43;
            background-color: #ffffff;
            border-bottom: 1px solid $accent-color-light;

            &:hover {
                box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14),
                    0 1px 7px 0 rgba(0, 0, 0, 0.12),
                    0 3px 1px -1px rgba(0, 0, 0, 0.2);
            }

            &:first-of-type {
                border-top-left-radius: 2px;
                border-top-right-radius: 2px;
            }

            &:last-of-type {
                border-bottom-left-radius: 2px;
                border-bottom-right-radius: 2px;
                border-bottom: none;
            }

            .ticket-owner {
                margin-right: 16px;
            }

            .ticket-owner-name {
                width: 172px;
                padding-right: 16px;
                font-size: 18px;
                overflow: hidden;
                white-space: nowrap;
                font-family: 'Source Sans Pro', sans-serif;
                color: #102a43;
            }

            .ticket-title,
            .ticket-latest-message {
                width: 450px;
                font-size: 18px;
                overflow: hidden;
                white-space: nowrap;
                font-family: 'Source Sans Pro', sans-serif;
                color: #102a43;
            }
            .ticket-latest-message {
                width: 200px;
                font-size: 16px;
                text-overflow: ellipsis;
                color: #829ab1;
            }
            .ticket-status {
                margin: 0 16px;
                width: 8px;
                height: 8px;
                border-radius: 50%;

                &.active {
                    background-color: #199473;
                }

                &.pending {
                    background-color: #f0b429;
                }

                &.closed {
                    background-color: #ba2525;
                }
            }

            .ticket-date {
                margin: 8px 0;
                color: #3b3b3b;
                font-size: 14px;
                text-transform: uppercase;
            }

            .ticket-conversations-count {
                padding: 0 16px;
                color: #3b3b3b;
            }

            .card-footer {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                padding: 8px 16px 16px 16px;

                .btn.btn-icon {
                    margin-left: 8px;
                    height: 28px;
                    background-color: transparent;
                    color: #829ab1;
                    i {
                        line-height: 28px;
                    }
                    &:hover {
                        background-color: $accent-color-light;
                    }
                }

                .dropdown-content {
                    border-radius: 2px;
                    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                        0 3px 1px -2px rgba(0, 0, 0, 0.12),
                        0 1px 5px 0 rgba(0, 0, 0, 0.2);
                    li {
                        min-height: 36px;
                        padding: 0 8px;
                        &:hover {
                            background-color: $accent-color-light;
                        }
                    }
                    .btn {
                        padding: 0;
                        min-width: 100%;
                        text-transform: capitalize;
                        color: #829ab1;
                        &:hover {
                            background-color: $accent-color-light;
                        }
                        i {
                            font-size: 14px;
                            width: 14px;
                        }
                        span {
                            display: inline-block;
                            min-width: 60px;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}
