.app-auth-pages {
    height: 100%;

    & > .row {
        margin-bottom: 0;
        height: calc(100% - 64px);
        overflow: hidden;
    }

    #nav-mobile {
        line-height: 60px;
    }

    .menu-item {
        a:hover {
            border-bottom: 4px $primary-color solid;
            background-color: #ffffff !important;
        }
    }

    .app-banner {
        display: flex;
        margin-left: 10rem;
        padding-left: 32px;
        padding-top: 128px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .img-wrapper {
            height: 10%;
            width: 50%;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
            }
        }

        .app-banner-header {
            color: #f0b429;
            span {
                display: block;
                &:last-of-type {
                    font-size: 75%;
                }
            }
        }
    }

    .login-form {
        height: 150%;
        margin-top: -5%;
        padding-top: 13%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        background-color: $accent-color-light;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;

        .login-form-wrapper {
            margin: 16px 64px;
        }
    }

    .login-form-header {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: $primary-color;

        span {
            display: block;
            &:last-of-type {
                font-size: 80%;
            }
        }
    }

    .input-field-wrapper {
        margin: 32px 0;
        min-width: 260px;
    }

    .btn-login {
        background-color: $primary-color;
        min-width: 128px;
    }

    footer {
        margin-top: -64px;
        padding-left: 64px;
    }
}

.app-login,
.app-signup {
    .menu-item a.active {
        border-bottom: 4px $primary-color solid;
    }
}

.app-reset {
    .input-field-wrapper {
        padding-left: 8px;
    }
    .reset-password-label {
        max-width: 250px;
        // text-align: center;
        font-size: 18px;
        color: #999999;
    }
}
