$primary-color: #003e6b;
$accent-color-light: #f0f4f8;

html {
    font-family: 'Lato', sans-serif;
    background-color: #fefefe;
}

html,
body {
    height: 100%;
}

.text-primary {
    color: $primary-color !important;
}

.text-danger {
    color: #ba2525;
}

.bg-primary {
    background-color: $primary-color !important;
}

.content-wrapper {
    margin-left: 64px;
    margin-right: 64px;
}

#app {
    height: 100%;
    & > .row {
        margin-bottom: 0;
        height: calc(100% - 64px);
        overflow: hidden;
    }
}

html.home-page {
    &,
    body {
        min-height: 100%;
        height: unset;
    }
    #app {
        min-height: 100%;
        height: unset;
    }
    #app > .row {
        height: unset;
        min-height: calc(100% - 64px);
    }

    footer {
        margin-top: -50px !important;
    }
}

html.tickets-page #app {
    & > .row {
        height: calc(100% + 32px);
    }
}

// NAV
nav {
    padding-left: 64px;
    padding-right: 64px;

    & > div {
        border-bottom: 1px $accent-color-light solid;
    }

    .brand-logo {
        display: flex;
        align-items: center;
        height: 100%;

        img {
            height: 75%;
            margin-right: 8px;
        }
    }

    #nav-mobile {
        line-height: 60px;
    }

    .menu-item {
        a {
            &.active {
                border-bottom: 4px $primary-color solid;
            }
            &:hover {
                border-bottom: 4px $primary-color solid;
                background-color: #ffffff !important;
            }
        }
    }

    .nav-actions {
        display: flex;
        flex-direction: row;
        align-items: center;

        .btn-logout {
            margin-left: 16px;
            margin-top: 8px;
            font-family: inherit;
            line-height: 32px;
            border: 1px solid $primary-color;
            background-color: $primary-color !important;
            color: #ffffff;

            i {
                display: inline-block;
                line-height: 32px;
                height: 34px;
            }
        }

        .btn-dashboard {
            margin-left: 16px;
            margin-top: 8px;
            font-family: inherit;
            line-height: 32px;
            background-color: transparent !important;
            border: $primary-color 1px solid;
            color: #000000;

            &:hover {
                background-color: $primary-color;
            }
        }
    }
}

.user-profile,
.ticket-owner {
    margin-top: 8px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    background-color: $accent-color-light;

    &:hover {
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14),
            0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    }

    img {
        height: auto;
        width: 100%;
    }
}

.input-field {
    input {
        &:focus {
            border-bottom-color: $primary-color !important;
            box-shadow: 0 1px 0 0 $primary-color !important;

            & + label {
                color: $primary-color !important;
            }
        }
    }
}

.no-ticket {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 500px;

    .no-ticket-wrapper {
        width: 154px;
        height: 154px;
        margin: 16px 0;
        color: #003e6b;
    }
    .no-ticket-tagline {
        font-size: 24px;
        color: $primary-color;
    }
}

.user-initials {
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    line-height: 48px;
    border-radius: 50%;
    background-color: $accent-color-light;
    color: #000000;
}

.app-verify {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 254px auto;
    font-size: 24px;
    font-weight: 300;

    .btn-login {
        margin: 16px auto;
        font-weight: 400;
        border: $primary-color 1px solid;
        color: $primary-color !important;
        background: none !important;
    }
}

.message-error {
    color: #ba2525;
}
.message-success {
    color: #3f9142;
}
