html {
  font-family: "Lato", sans-serif;
  background-color: #fefefe;
}

html,
body {
  height: 100%;
}

.text-primary {
  color: #003e6b !important;
}

.text-danger {
  color: #ba2525;
}

.bg-primary {
  background-color: #003e6b !important;
}

.content-wrapper {
  margin-left: 64px;
  margin-right: 64px;
}

#app > .row {
  margin-bottom: 0;
  height: calc(100% - 64px);
  overflow: hidden;
}

nav {
  padding-left: 64px;
  padding-right: 64px;
}

nav > div {
  border-bottom: 1px #f0f4f8 solid;
}

.input-field input:focus {
  border-bottom-color: #003e6b !important;
  box-shadow: 0 1px 0 0 #003e6b !important;
}

.input-field input:focus + label {
  color: #003e6b !important;
}

.no-ticket {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 500px;
}

.no-ticket .no-ticket-wrapper {
  width: 154px;
  height: 154px;
  margin: 16px 0;
  color: #003e6b;
}

.no-ticket .no-ticket-tagline {
  font-size: 24px;
  color: #003e6b;
}

.user-initials {
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  line-height: 48px;
  border-radius: 50%;
  background-color: #f0f4f8;
  color: #000000;
}

.app-auth-pages {
  height: 100%;
}

.app-auth-pages > .row {
  margin-bottom: 0;
  height: calc(100% - 64px);
  overflow: hidden;
}

.app-auth-pages #nav-mobile {
  line-height: 60px;
}

.app-auth-pages .menu-item a:hover {
  border-bottom: 4px #003e6b solid;
  background-color: #ffffff !important;
}

.app-auth-pages .app-banner {
  display: flex;
  margin-left: 10rem;
  padding-left: 32px;
  padding-top: 128px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.app-auth-pages .app-banner .img-wrapper {
  height: 10%;
  width: 50%;
  overflow: hidden;
}

.app-auth-pages .app-banner .img-wrapper img {
  width: 100%;
  height: 100%;
}

.app-auth-pages .app-banner .app-banner-header {
  color: #f0b429;
}

.app-auth-pages .app-banner .app-banner-header span {
  display: block;
}

.app-auth-pages .app-banner .app-banner-header span:last-of-type {
  font-size: 75%;
}

.app-auth-pages .login-form {
  height: 150%;
  margin-top: -5%;
  padding-top: 13%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: #f0f4f8;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.app-auth-pages .login-form .login-form-wrapper {
  margin: 16px 64px;
}

.app-auth-pages .login-form .login-form-wrapper .message {
  display: block;
  text-align: right;
}

.app-auth-pages .login-form .login-form-wrapper .message.message-error {
  color: #ba2525;
}

.app-auth-pages .login-form .login-form-wrapper .message.message-success {
  color: #3f9142;
}

.app-auth-pages .login-form-header {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #003e6b;
}

.app-auth-pages .login-form-header span {
  display: block;
}

.app-auth-pages .login-form-header span:last-of-type {
  font-size: 80%;
}

.app-auth-pages .input-field-wrapper {
  margin: 32px 0;
  min-width: 260px;
}

.app-auth-pages .btn-login {
  background-color: #003e6b;
  min-width: 128px;
}

.app-auth-pages footer {
  margin-top: -64px;
  padding-left: 64px;
}

.app-login .menu-item a.active,
.app-signup .menu-item a.active {
  border-bottom: 4px #003e6b solid;
}

.app-reset .input-field-wrapper {
  padding-left: 8px;
}

.app-reset .reset-password-label {
  max-width: 250px;
  font-size: 18px;
  color: #999999;
}

.user-pages {
  height: 100%;
}

.user-pages .row > .col {
  height: 100%;
}

.user-pages #nav-mobile {
  line-height: 60px;
}

.user-pages .menu-item a:hover {
  border-bottom: 4px #003e6b solid;
  background-color: #ffffff !important;
}

.user-pages .user-profile {
  margin-top: 8px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background-color: #f0f4f8;
}

.user-pages .user-profile:hover {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.user-pages .user-profile img {
  height: auto;
  width: 100%;
}

.user-pages .nav-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-pages .nav-actions .btn-logout {
  margin-left: 16px;
  margin-top: 8px;
  font-family: inherit;
  line-height: 36px;
  border: 1px solid #003e6b;
  color: #102a43;
}

.user-pages .nav-actions .btn-logout:hover {
  background-color: #003e6b !important;
  color: #ffffff;
}

.user-pages .nav-actions .btn-logout i {
  display: inline-block;
  line-height: 36px;
}

.user-pages-home .user-tickets-wrapper {
  min-height: 100%;
  padding: 16px 32px;
  margin-top: 16px;
  background-color: #f0f4f8;
  border-radius: 6px;
}

.user-pages-home .user-tickets-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 24px;
}

.user-pages-home .user-tickets-header .title {
  margin-left: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  color: #102a43;
}

.user-pages-home .user-tickets-header .btn-add-new-ticket {
  background-color: #003e6b;
  color: #ffffff;
}

.user-pages-home .user-tickets-header .btn-add-new-ticket i {
  font-size: 14px;
}

.user-pages-home .pending-tickets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.user-pages-home .pending-tickets .card {
  margin: 1.6%;
  width: 30%;
  box-shadow: none !important;
  border-radius: 4px;
}

.user-pages-home .pending-tickets .card .card-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
  color: #102a43;
}

.user-pages-home .pending-tickets .card .ticket-date {
  margin: 8px 0;
  color: #829ab1;
}

.user-pages-home .pending-tickets .card p {
  font-weight: 400;
  height: 50px;
  overflow: hidden;
  color: #3b3b3b;
}

.user-pages-home .pending-tickets .card .ticket-conversations-count {
  padding: 0 16px;
  color: #3b3b3b;
}

.user-pages-home .pending-tickets .card .card-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 16px 16px 16px;
}

.user-pages-home .pending-tickets .card .card-footer .ticket-status {
  padding: 4px 8px;
  text-transform: capitalize;
  border-radius: 4px;
}

.user-pages-home .pending-tickets .card .card-footer .ticket-status.active {
  background-color: #c6f7e2;
  color: #199473;
}

.user-pages-home .pending-tickets .card .card-footer .ticket-status.pending {
  background-color: #fffbea;
  color: #f0b429;
}

.user-pages-home .pending-tickets .card .card-footer .ticket-status.closed {
  background-color: #ffeeee;
  color: #ba2525;
}

.user-pages-home .pending-tickets .card .card-footer .btn.btn-icon {
  margin-left: 8px;
  height: 28px;
  background-color: transparent;
  color: #829ab1;
}

.user-pages-home .pending-tickets .card .card-footer .btn.btn-icon i {
  line-height: 28px;
}

.user-pages-home .pending-tickets .card .card-footer .btn.btn-icon:hover {
  background-color: #f0f4f8;
}

.user-pages-home .pending-tickets .card .card-footer .dropdown-content {
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.user-pages-home .pending-tickets .card .card-footer .dropdown-content li {
  min-height: 36px;
  height: 36px;
  line-height: 36px;
  padding: 0 8px;
}

.user-pages-home .pending-tickets .card .card-footer .dropdown-content li:hover {
  background-color: #f0f4f8;
}

.user-pages-home .pending-tickets .card .card-footer .dropdown-content li .btn i {
  margin-right: 12px;
}

.user-pages-home .pending-tickets .card .card-footer .dropdown-content .btn {
  padding: 0;
  min-width: 100%;
  text-transform: capitalize;
  color: #829ab1;
}

.user-pages-home .pending-tickets .card .card-footer .dropdown-content .btn:hover {
  background-color: #f0f4f8;
}

.user-pages-home .pending-tickets .card .card-footer .dropdown-content .btn i {
  font-size: 14px;
  width: 14px;
}

.user-pages-home .pending-tickets .card .card-footer .dropdown-content .btn span {
  display: inline-block;
  min-width: 60px;
  text-align: left;
}

.modal-new-ticket .card {
  margin: 0;
}

.modal-new-ticket .card-content {
  padding-bottom: 0;
}

.modal-new-ticket .card-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  color: #102a43;
}

.modal-new-ticket .ticket-title {
  font-size: 18px;
  font-family: inherit;
  color: #102a43;
  border-bottom: 2px solid #f0f4f8 !important;
}

.modal-new-ticket .ticket-title::-webkit-input-placeholder {
  color: #cbd2d9;
}

.modal-new-ticket .ticket-title::-moz-placeholder {
  color: #cbd2d9;
}

.modal-new-ticket .ticket-title:-ms-input-placeholder {
  color: #cbd2d9;
}

.modal-new-ticket .ticket-title::-ms-input-placeholder {
  color: #cbd2d9;
}

.modal-new-ticket .ticket-title::placeholder {
  color: #cbd2d9;
}

.modal-new-ticket .ticket-title:focus {
  border-bottom-color: #003e6b !important;
  box-shadow: none !important;
}

.modal-new-ticket .ticket-editor {
  padding: 16px 0;
  font-size: 18px;
  height: 154px;
  color: #3b3b3b;
  overflow: scroll;
  border: none;
  border-bottom: 2px solid #f0f4f8;
  resize: none;
}

.modal-new-ticket .ticket-editor:focus {
  outline: none;
  border-bottom-color: #003e6b;
}

.modal-new-ticket .ticket-editor:empty::before {
  content: attr(placeholder);
  color: #cbd2d9;
}

.modal-new-ticket .ticket-editor::-webkit-scrollbar {
  margin-left: 8px;
  width: 8px;
  background-color: transparent;
  border-radius: 5px;
}

.modal-new-ticket .ticket-editor::-webkit-scrollbar-thumb {
  background-color: #cbd2d9;
  border-radius: 5px;
}

.modal-new-ticket .card-action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: right;
  border-top: none;
}

.modal-new-ticket .btn {
  margin: 8px;
  text-transform: uppercase;
  font-family: inherit;
  color: #003e6b;
  background-color: #f0f4f8;
}

.modal-new-ticket .btn i {
  font-size: 14px;
}

.modal-new-ticket .btn.btn-cancel-ticket {
  color: #ba2525;
  background-color: #ffeeee;
}

.user-pages-ticket {
  height: calc(100% - 22px);
}

.user-pages-ticket .user-tickets-wrapper,
.user-pages-ticket .user-single-ticket-wrapper {
  height: 100%;
  margin-top: 16px;
  background-color: #f0f4f8;
  border-radius: 6px;
}

.user-pages-ticket .user-tickets-wrapper {
  padding: 16px;
  margin-left: 40px !important;
}

.user-pages-ticket .user-single-ticket-wrapper {
  position: relative;
  padding: 16px 32px;
  margin-left: 32px !important;
  margin-right: 24px;
}

.user-pages-ticket .user-ticket-snap {
  display: block;
  padding: 8px;
  margin: 16px 0;
  background-color: #ffffff;
  color: #3b3b3b;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: none;
  transition: box-shadow ease-out 0.2s;
}

.user-pages-ticket .user-ticket-snap.active {
  border-bottom: 4px solid #003e6b;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.user-pages-ticket .user-ticket-snap:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.user-pages-ticket .user-ticket-snap .user-ticket-snap-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.user-pages-ticket .user-ticket-snap .time {
  font-size: 14px;
  text-transform: capitalize;
  color: #829ab1;
  line-height: 16px;
}

.user-pages-ticket .user-ticket-snap .status {
  width: 8px;
  height: 8px;
  margin: 8px;
  border-radius: 50%;
}

.user-pages-ticket .user-ticket-snap .status.active {
  background-color: #199473;
}

.user-pages-ticket .user-ticket-snap .status.pending {
  background-color: #f0b429;
}

.user-pages-ticket .user-ticket-snap .status.closed {
  background-color: #ba2525;
}

.user-pages-ticket .user-single-ticket {
  height: calc(100% - 16px);
  padding: 16px;
  background-color: #ffffff;
  border-radius: 2px;
}

.user-pages-ticket .user-single-ticket .user-ticket-header {
  color: #102a43;
  padding-top: 8px;
  padding-bottom: 0px;
}

.user-pages-ticket .user-single-ticket .user-ticket-header .title {
  margin: 0;
}

.user-pages-ticket .user-single-ticket .user-ticket-header .ticket-meta {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-pages-ticket .user-single-ticket .user-ticket-header .ticket-meta .ticket-date {
  margin: 8px 0;
  color: #829ab1;
}

.user-pages-ticket .user-single-ticket .user-ticket-header .ticket-meta .ticket-conversations-count {
  position: relative;
  padding: 0 16px;
  color: #3b3b3b;
}

.user-pages-ticket .user-single-ticket .user-ticket-header .ticket-meta .ticket-status {
  padding: 4px 8px;
  text-transform: capitalize;
  border-radius: 4px;
}

.user-pages-ticket .user-single-ticket .user-ticket-header .ticket-meta .ticket-status.active {
  color: #199473;
}

.user-pages-ticket .user-single-ticket .user-ticket-header .ticket-meta .ticket-status.pending {
  color: #f0b429;
}

.user-pages-ticket .user-single-ticket .user-ticket-header .ticket-meta .ticket-status.closed {
  color: #ba2525;
}

.user-pages-ticket .user-ticket-conversations-shadow-top {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  height: 4px;
  margin-bottom: -4px;
  z-index: 80;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14) inset;
}

.user-pages-ticket .user-ticket-conversations {
  padding: 8px 8px 16px 8px;
  height: calc(100% - 120px);
  overflow-y: scroll;
}

.user-pages-ticket .user-ticket-conversations::-webkit-scrollbar {
  margin-left: 8px;
  width: 8px;
  background-color: transparent;
  border-radius: 5px;
}

.user-pages-ticket .user-ticket-conversations::-webkit-scrollbar-thumb {
  background-color: #cbd2d9;
  border-radius: 5px;
}

.user-pages-ticket .user-ticket-conversation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 16px;
}

.user-pages-ticket .user-ticket-conversation .conversation-owner {
  height: 48px;
  width: 48px;
  margin-right: 16px;
  border-radius: 50%;
  overflow: hidden;
}

.user-pages-ticket .user-ticket-conversation .conversation-owner img {
  width: 100%;
}

.user-pages-ticket .user-ticket-conversation .conversation-owner .user-initials {
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  line-height: 48px;
  border-radius: 50%;
  background-color: #f0f4f8;
}

.user-pages-ticket .user-ticket-conversation .conversation-content {
  padding: 16px;
  max-width: 500px;
  font-size: 18px;
  color: #3b3b3b;
  color: #ffffff;
  background-color: #f0f4f8;
  background-color: #2680c2;
  border-radius: 16px;
  border-bottom-left-radius: 0;
}

.user-pages-ticket .user-ticket-conversation.current-user {
  flex-direction: row-reverse;
}

.user-pages-ticket .user-ticket-conversation.current-user .conversation-owner {
  margin-left: 16px;
  margin-right: 0;
}

.user-pages-ticket .user-ticket-conversation.current-user .conversation-content {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 0;
  background-color: #003e6b;
}

.user-pages-ticket .ticket-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.user-pages-ticket .ticket-footer .btn {
  text-transform: uppercase;
  color: #003e6b;
}

.user-pages-ticket .ticket-footer .btn:hover {
  background-color: #f0f4f8;
}

.user-pages-ticket .ticket-footer .btn i {
  font-size: 14px;
  width: 14px;
}

.user-pages-ticket .ticket-footer .btn span {
  display: inline-block;
  min-width: 60px;
  text-align: left;
}

.user-pages-ticket .ticket-footer .btn.btn-close {
  margin-right: 16px;
  color: #ba2525;
  background-color: #ffeeee;
}

.user-pages-ticket .ticket-footer .btn.btn-reply {
  color: #199473;
  background-color: #c6f7e2;
}

.user-pages-ticket .ticket-reply {
  display: none;
  position: absolute;
  bottom: 32px;
  left: 0;
  right: 0;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.user-pages-ticket .ticket-reply.active {
  display: block;
}

.user-pages-ticket .ticket-reply .ticket-reply-editor {
  padding: 16px;
  font-size: 18px;
  height: 154px;
  color: #3b3b3b;
  overflow: scroll;
  border: none;
  border-bottom: 2px solid #f0f4f8;
  resize: none;
}

.user-pages-ticket .ticket-reply .ticket-reply-editor:focus {
  outline: none;
}

.user-pages-ticket .ticket-reply .ticket-reply-editor:empty::before {
  content: attr(placeholder);
  color: #cbd2d9;
}

.user-pages-ticket .ticket-reply .ticket-reply-editor::-webkit-scrollbar {
  margin-left: 8px;
  width: 8px;
  background-color: transparent;
}

.user-pages-ticket .ticket-reply .ticket-reply-editor::-webkit-scrollbar-thumb {
  background-color: #cbd2d9;
  border-radius: 5px;
}

.user-pages-ticket .ticket-reply .ticket-reply-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.user-pages-ticket .ticket-reply .ticket-reply-footer .btn {
  margin: 8px;
  text-transform: uppercase;
  color: #003e6b;
  background-color: #f0f4f8;
}

.user-pages-ticket .ticket-reply .ticket-reply-footer .btn i {
  font-size: 14px;
  width: 14px;
}

.user-pages-ticket .ticket-reply .ticket-reply-footer .btn span {
  display: inline-block;
  min-width: 60px;
  text-align: left;
}

.user-pages-ticket .ticket-reply .ticket-reply-footer .btn.btn-delete {
  color: #ba2525;
  background-color: #ffeeee;
}

.desk-pages {
  height: 100%;
}

.desk-pages #nav-mobile {
  line-height: 60px;
}

.desk-pages .menu-item a:hover {
  border-bottom: 4px #003e6b solid;
  background-color: #ffffff !important;
}

.desk-pages .user-profile {
  margin-top: 8px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background-color: #f0f4f8;
}

.desk-pages .user-profile:hover {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.desk-pages .user-profile img {
  height: auto;
  width: 100%;
}

.desk-pages .nav-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.desk-pages .nav-actions .btn-logout {
  margin-left: 16px;
  margin-top: 8px;
  font-family: inherit;
  line-height: 32px;
  border: 1px solid #003e6b;
  color: #102a43;
}

.desk-pages .nav-actions .btn-logout:hover {
  background-color: #003e6b !important;
  color: #ffffff;
}

.desk-pages .nav-actions .btn-logout i {
  display: inline-block;
  line-height: 32px;
  height: 34px;
}

.desk-pages-home .app-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.desk-pages-home .desk-tickets-wrapper {
  padding: 16px 32px;
  margin-top: 16px;
  background-color: #f0f4f8;
  border-radius: 6px;
}

.desk-pages-home .desk-tickets-header .title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  color: #102a43;
}

.desk-pages-home .ticket-section-header {
  position: relative;
  height: 1px;
  width: 100%;
  margin: 16px 0 24px 0;
  background-color: #b1b1b1;
}

.desk-pages-home .ticket-section-header > div {
  position: absolute;
  left: 50%;
  top: -16px;
  width: 128px;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  border-radius: 16px;
  border: 1px solid #b1b1b1;
  background-color: #ffffff;
  color: #b1b1b1;
  transform: translateX(-50%);
}

.desk-pages-home .pending-tickets {
  display: flex;
  flex-direction: column;
}

.desk-pages-home .pending-tickets .ticket {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 8px 16px;
  text-decoration: none;
  color: #102a43;
  background-color: #ffffff;
  border-bottom: 1px solid #f0f4f8;
}

.desk-pages-home .pending-tickets .ticket:hover {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.desk-pages-home .pending-tickets .ticket:first-of-type {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.desk-pages-home .pending-tickets .ticket:last-of-type {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom: none;
}

.desk-pages-home .pending-tickets .ticket .ticket-owner {
  margin-right: 16px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.desk-pages-home .pending-tickets .ticket .ticket-owner:hover {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.desk-pages-home .pending-tickets .ticket .ticket-owner img {
  height: auto;
  width: 100%;
}

.desk-pages-home .pending-tickets .ticket .ticket-owner .user-initials {
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  line-height: 48px;
  border-radius: 50%;
  background-color: #f0f4f8;
}

.desk-pages-home .pending-tickets .ticket .ticket-owner-name {
  width: 150px;
  padding-right: 16px;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  font-family: "Source Sans Pro", sans-serif;
  color: #102a43;
}

.desk-pages-home .pending-tickets .ticket .ticket-title,
.desk-pages-home .pending-tickets .ticket .ticket-latest-message {
  width: 450px;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  font-family: "Source Sans Pro", sans-serif;
  color: #102a43;
}

.desk-pages-home .pending-tickets .ticket .ticket-latest-message {
  width: 200px;
  font-size: 16px;
  text-overflow: ellipsis;
  color: #829ab1;
}

.desk-pages-home .pending-tickets .ticket .ticket-status {
  margin: 0 16px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.desk-pages-home .pending-tickets .ticket .ticket-status.active {
  background-color: #199473;
}

.desk-pages-home .pending-tickets .ticket .ticket-status.pending {
  background-color: #f0b429;
}

.desk-pages-home .pending-tickets .ticket .ticket-status.closed {
  background-color: #ba2525;
}

.desk-pages-home .pending-tickets .ticket .ticket-date {
  margin: 8px 0;
  color: #3b3b3b;
  font-size: 14px;
  text-transform: uppercase;
}

.desk-pages-home .pending-tickets .ticket .ticket-conversations-count {
  padding: 0 16px;
  color: #3b3b3b;
}

.desk-pages-home .pending-tickets .ticket .card-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 16px 16px 16px;
}

.desk-pages-home .pending-tickets .ticket .card-footer .btn.btn-icon {
  margin-left: 8px;
  height: 28px;
  background-color: transparent;
  color: #829ab1;
}

.desk-pages-home .pending-tickets .ticket .card-footer .btn.btn-icon i {
  line-height: 28px;
}

.desk-pages-home .pending-tickets .ticket .card-footer .btn.btn-icon:hover {
  background-color: #f0f4f8;
}

.desk-pages-home .pending-tickets .ticket .card-footer .dropdown-content {
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.desk-pages-home .pending-tickets .ticket .card-footer .dropdown-content li {
  min-height: 36px;
  padding: 0 8px;
}

.desk-pages-home .pending-tickets .ticket .card-footer .dropdown-content li:hover {
  background-color: #f0f4f8;
}

.desk-pages-home .pending-tickets .ticket .card-footer .dropdown-content .btn {
  padding: 0;
  min-width: 100%;
  text-transform: capitalize;
  color: #829ab1;
}

.desk-pages-home .pending-tickets .ticket .card-footer .dropdown-content .btn:hover {
  background-color: #f0f4f8;
}

.desk-pages-home .pending-tickets .ticket .card-footer .dropdown-content .btn i {
  font-size: 14px;
  width: 14px;
}

.desk-pages-home .pending-tickets .ticket .card-footer .dropdown-content .btn span {
  display: inline-block;
  min-width: 60px;
  text-align: left;
}

